<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
</head>

<body>
    <div class="page">

      <!-- navbar -->
        <nav>
            <div id="title">
                <h2>My notes and Highlights</h2>
            </div>
            <div>
                <form class="tab-view tab-view-height-auto" action="/add" method="post">
                    <input type="submit" name="add" value="Add a new book" id="tab">
                        <label for="tab"></label>
                
                  </form> 
            </div>
        </nav>


        
        <div class="main">

          <!-- left side div -->
            <div id="left_side">
                <div>
                    <h2>Annotated books from libray</h2>
                </div>
                
                <!-- all items on display -->
                <div class="scroll-container">
                 
                  <% for(let item of items){%>
                    <form class="blabla" action="/item" method="post">
                    <button type="submit" class="btn-link" name="item" value="<%= item.id %>">

                    <div class="item">
                      
                      <a ><img src="https://covers.openlibrary.org/b/isbn/<%= item.isbn %>-L.jpg"  style="width:75px;"></a>

                      
                      <p id="title<%=item.id%>">
                        <%= item.title %> </p>
                      <p>
                        By: <%= item.author %></p>
                      </div>
                    </a>
                      
                  </button>
                  </form>
                    <% } %>
                  
                    
                </div>
            </div>

            <!-- right side content -->
            <div class="content">

              <!-- name and cover of selected book -->
                <div id="inside">
                  <p> Your notes for:</p>
                  <a ><img src="https://covers.openlibrary.org/b/isbn/<%= id.isbn %>-L.jpg"  style="width:75px;"></a>

                      
                      <h2 id="title<%=id.id%>">
                        <%= id.title %>

                      </h2>
                      <p>
                        <%=id.author %>
                      </p>
                      <p> No. of highlights: <%= quotes.length  %></p>
     
                </div>


                <!-- All the quotes for book selected -->
                <% for(let q of quotes){%>
                  <div id="quote <%=q.id %>">
                    <p>
                      <%=q.quote%>
                    </p>

                    <div id="navbar">
                      <div>
                        <p> Page number:
                          <%=q.page%>
                        </p>
                      </div>

                      <div>
                        <p>
                          <form id="tableForm" action="/menu" method="post">
                            <select name="selectpicker">
                                
                                    
                                    <option name="table1"  value="1">edit</option>
                                    <option name="table2" value="2">delete</option>
                                    
                                 
                            </select>
                            <input  type="submit"  />
                            <input onchange="this.form.submit()" type="hidden" name="id" value="<%= q.id %>"/>

                            <% if  ((test==1) && (editId==q.id)) { %>
                              <form id="editId" action="/update" method="post" >
                                
                                  
                                  <input hidden 
                                  
                                  type="text" 
                                    name="name" 
                                    id="name" 
                                    value="<%= q.id %>" />
                                

                                
                                  
                                  
                                  <input
                                  
                                    type="text"
                                    name="name2"
                                    id="name2"
                                    
                                    
                                  />
                                
                                
                                  
                                  <input
                                    hidden
                                    
                                    type="<%= q.id %>"
                                    name="<%= q.id %>"
                                    id="<%= q.id %>"
                                    value="<%= q.id %>"
                                  />
                                
                              
                                
                                  <input type="submit"  />
                                
                              </form>
        
                            <% } %>
                        </form>
                    </p>
                    </div>
                    
                    
                    
                </div>
                    <% }%>
                     

                  
        
            </div>
        </div>
    </div>
</body>
<script>
  // function handler(id) {
  //   document.getElementById("item" + id).setAttribute("hidden", true)
  //   document.getElementById("edit" + id).setAttribute("hidden", true)
  //   document.getElementById("done" + id).removeAttribute("hidden")
  //   document.getElementById("input" + id).removeAttribute("hidden")
  // }
</script>
</html>